<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Available Updates</key>
	<dict>
		<key>Last Update Check Time</key>
		<real>370125644.75941497</real>
		<key>Updates List</key>
		<array/>
	</dict>
	<key>Installed Extensions</key>
	<array>
		<dict>
			<key>Added Non-Default Toolbar Items</key>
			<array/>
			<key>Archive File Name</key>
			<string>WebDriver.safariextz</string>
			<key>Bundle Directory Name</key>
			<string>WebDriver.safariextension</string>
			<key>Enabled</key>
			<true/>
			<key>Hidden Bars</key>
			<array/>
			<key>Removed Default Toolbar Items</key>
			<array/>
		</dict>
	</array>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>